
.user_profile{
    display: flex;
    width: 90%;
    gap: 2rem;
    flex-direction: row;
}
.user_profile .user_blogs{
    width: 100%;
}

.user_profile h3{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.2rem 1rem;
}

.user_info{
    background-color: black;
    width: 18rem;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.user_info .info_exc_avatar{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.user_info .avatar{
    width: 50%;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px soild white;
    cursor: pointer;
    align-self: center;
}
.user_info .avatar img{
    width: 100%;
    object-fit: cover;
}

.user_info .avatar span{
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: white;
    position: absolute;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    bottom: -50%;
    align-items: center;
    transition: all 0.5s;
    box-shadow: 0 0 10px 0 rgb(140, 140, 140);
    padding-top: 0.3rem;
}

.user_info .avatar:hover span{
    bottom: -20%;
}

.user_info .avatar span label{
    font-size: 1.3rem;
    display: block;
    text-align: center;
}


.user_info .avatar input{
    display: none;
}

.user_info input{
    background-color: transparent;
    border: none;
}

.info_exc_avatar > div{
    display: flex;
    align-items: flex-end;
}
.info_exc_avatar #name_userPage, .info_exc_avatar #account_userPage{
    color: white;
    border: none;
}

.info_exc_avatar > .psw{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid white;
}

.info_exc_avatar > .psw div{
    width: 100%;
    display: flex;
}

.info_exc_avatar > .psw input{
    flex:1;
    outline: none;
    color: white;
}

.info_exc_avatar > .psw input:hover{
    outline: none;
    caret-color: white;
}

.info_exc_avatar label{
   width: 70px;
   font-weight: 300;
   font-size: 0.8rem;
}

.info_exc_avatar  #cf_password{
    width: 100%;
}

.info_exc_avatar button{
    color: white;
    border: 1px solid white;
    background-color: black;
    transition: all 0.6s;
}

.info_exc_avatar  button:hover{
    color: black;
    border: 1px solid white;
    background-color: white;
}

.user_blogs{
    width: 100%;
}

.user_blogs .blogs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .user_profile{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .user_profile{
        width: 100%;
        flex-direction: column;
    }
    .user_info{
        width: 100%;
        flex-direction: row;
        gap: 2rem;
    }
    .user_info .avatar{
        width: 40%;
    }
    .cardHoriz{
        width: 100%;
    }

}